<?php
    $temperature = Mage::getModel('pugcode_sebastian/weather')->LastWeather();
?>

<?php if($temperature !== null): ?>
    <p>Temperature for Lublin: <?= $temperature ?> &#8451;</p>
<?php else: ?>
    <p>No weather data</p>
<?php endif; ?>